/* .alldatas{
    font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   background-repeat: no-repeat;
   background-color: #5F6F94;
   } */
    td {
     border: 1px solid #db5757;
     text-align: left;
     padding: 8px;
     text-align: center;
     width: 90%;
     background-color: white;
     /* background-image: url("./image/alldatas.jfif");
     */
   }